<p id="notice"><%= notice %></p>

<h1>Courses</h1>

<br>

<%= link_to 'New Course', new_course_path %>

<% @courses.each do |course| %>
  <div class="container">
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="https://picsum.photos/200" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%= course.title %></h5>
          <p class="card-text"><%= course.short_description %></p>
          <%= link_to 'Show', course %>
          <%= link_to 'Edit', edit_course_path(course) %>
          <%= link_to 'Destroy', course, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
      <br>
  </div>
<% end %>

<% @courses.each do |course| %>
  <div class="col-sm-9 float-left">
    <%= link_to course_path(course) do %>
      <div class="courses">
        <div class="row">
          <div class="col-sm-3">
            <img src="https://picsum.photos/200">
          </div>    
          <div class="col-sm-9">
            <h3 class="course-title"><%= course.title %></h3>
            <p>
              <span class="course-description"><%= course.short_description %></span>
            </p>
          </div>      
        </div>
      </div>
      <br>
    <% end %>
  </div>
<% end %>

